
@font-face {
    font-family: "Catamaran";
    src: url("Catamaran-VariableFont_wght.ttf");
    font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --body-fam: "Mulish";
  --header-fam: "Catamaran";
  --light-night: #1c006c;
  --deep-night: #030030;

	--cyan: hsl(180 100% 87%);
	--magenta: hsl(300 100% 88.1%);
	--yellow: hsl(60 100% 84%);
	--pastel-cyan: var(--cyan), transparent;
	--pastel-magenta: var(--magenta), transparent;
	--pastel-yellow: var(--yellow), transparent;

  --top-bg-grad: linear-gradient(var(--pastel-cyan));
  --bl-bg-grad: linear-gradient(-45deg, var(--pastel-magenta));
  --br-bg-grad: linear-gradient(45deg, var(--pastel-yellow));
  --bg-blend: hard-light;
  --content-width: min(calc(100vw - 2rem), 960px);
}

*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--body-fam);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: var(--top-bg-grad), var(--bl-bg-grad), var(--br-bg-grad);
  background-blend-mode: var(--bg-blend);
}
header {
  position: relative;
  max-width: var(--content-width);
  margin: 4rem auto 2rem auto;
  border-radius: 1rem;
  z-index: 10;
}
h1 {
  font-family: var(--header-fam);
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
h1 svg {
  font-family: Catamaran;
}
.democratic, .technology, .alliance, .bbb {
  font-weight: 900;
  stroke: var(--light-night);
  stroke-width: 1px;
}
.democratic {
  font-size: 60px;
  fill: var(--cyan);
}
.technology {
  font-size: 57px;
  fill: var(--magenta);
}
.alliance {
  font-size: 50px;
  letter-spacing: 20px;
  fill: var(--yellow);
}
.bbb {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 4px;
  fill: var(--light-night);
  stroke: none;
}
main {
  max-width: var(--content-width);
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: white;
  border-radius: 1rem;
}
strong {
  font-weight: 700;
}

@media only screen and (max-width:750px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h1 .all {
    padding-left: 0.4em;
  }
}
@media only screen and (max-width:380px) {
  h1 .all {
    padding-left: 0.2em;
  }
}
