
@font-face {
    font-family: "Catamaran";
    src: url("Catamaran-VariableFont_wght.ttf");
    font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --body-fam: "Mulish";
  --header-fam: "Catamaran";
  --light-night: #1c006c;
  --deep-night: #030030;

	--cyan: hsl(180 100% 87%);
	--magenta: hsl(300 100% 88.1%);
	--yellow: hsl(60 100% 84%);
	--pastel-cyan: var(--cyan), transparent;
	--pastel-magenta: var(--magenta), transparent;
	--pastel-yellow: var(--yellow), transparent;

	/* --blood:  linear-gradient(45deg, #ffbc00, #ff0058);
  --flag:   linear-gradient(-45deg, #03a9f4, #ff0058);
  --rewild: linear-gradient(0, #4dff03, #00d0ff); */
	--blood:  linear-gradient(45deg, #FB3D2E, transparent);
  --flag:   linear-gradient(-45deg, #55BFFB, transparent);
  --rewild: linear-gradient(0, #EAD43F, transparent);

  --top-bg-grad: linear-gradient(var(--pastel-cyan));
  --bl-bg-grad: linear-gradient(-45deg, var(--pastel-magenta));
  --br-bg-grad: linear-gradient(45deg, var(--pastel-yellow));
  /* --top-bg-grad: var(--rewild);
  --bl-bg-grad: var(--flag);
  --br-bg-grad: var(--blood); */
  --bg-blend: hard-light;
  --content-width: min(calc(100vw - 2rem), 960px);
}

*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--body-fam);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: var(--top-bg-grad), var(--bl-bg-grad), var(--br-bg-grad);
  background-blend-mode: var(--bg-blend);
}
header {
  position: relative;
  max-width: var(--content-width);
  margin: 4rem auto 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  /* border: 1rem solid var(--light-night); */
  /* background: linear-gradient(to top, var(--light-night), var(--deep-night)); */
  /* background: #000; */
  z-index: 10;
}
h1 {
  font-family: var(--header-fam);
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
h1 span {
  display: block;
  text-align: center;
  color: white;
  -webkit-text-stroke-color: var(--light-night);
  -webkit-text-stroke-width: 2px;
}
h1 .dem {
  color: var(--cyan);
  font-size: 1.05em;
}
h1 .tech {
  color: var(--magenta);
  margin-top: -0.2em;
  padding-left: 0.2rem;
}
h1 .all {
  color: var(--yellow);
  font-size: 0.8em;
  letter-spacing: 0.5em;
  padding-left: 2rem;
  margin-top: -0.2em;
}
header p {
  font-family: var(--header-fam);
  font-weight: 300;
  color: var(--light-night);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: 0.4em;
}
main {
  max-width: var(--content-width);
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: white;
  border-radius: 1rem;
}
strong {
  font-weight: 700;
}

@media only screen and (max-width:750px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h1 .all {
    padding-left: 0.4em;
  }
}
@media only screen and (max-width:380px) {
  h1 .all {
    padding-left: 0.2em;
  }
}
